<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Service configuration-->
  <add key="ApplicationName" value="WS.Template.WindowsService" />
  <add key="ApplicationType" value="WindowsService" />
  <add key="ExecCronExpression" value="0 0/10 * 1/1 * ? *" />

  <add key="ServiceName" value="WS.Template.WS" />
  <add key="ServiceDisplayName" value="WS.Template.WS" />
  <add key="ServiceDescription" value="Template" />

</appSettings>